{% if paginator.posts %}
  <section class="section  typeset">
      {% for page in paginator.posts %}
          <article class="article  article--post">
		  
			<div id="yeet">

            <!-- <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2> -->
				<h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
				<a href="https://github.com/nayrng/{{ page.title }}">https://github.com/nayrng/{{ page.title }}</a>
				{{ page.excerpt | markdownify | truncatewords: 40 }}
			</div>

          </article>
      {% endfor %}
  </section>
{% else %}
  <section class="section  typeset">
      {% for page in site.posts %}
          <article class="article  article--post">

            <h2><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></h2>
            {{ page.excerpt | markdownify | truncatewords: 40 }} <a href="{{ site.baseurl }}{{ page.url }}">[more]</a>

          </article>
      {% endfor %}
  </section>
{% endif %}
