---
layout: default
---

{% include site-header.html %}

<main class="main  container">

  <div class="content">

    <article class="article  article--page  typeset">

      <h1>Contact me</h1>


		<form method="POST" action="https://formspree.io/mdolnlwq">
			<input type="email" name="email" placeholder="Your email">
			<textarea name="message" placeholder="Your Message"></textarea>
			<button type="submit">Send Email</button>
		</form>

    </article>

  </div>

  {% if page.aside == true %}{% include site-aside.html %}{% endif %}

</main>

{% include site-footer.html %}